.sectionFinalizarComprar{
    background-color: #F9F8FE;
    padding: 60px 99px;
}

.tituloFinalizarComprar{
    font-size: 32px;
    color: var(--dark-gray);
    margin-bottom: 30px;
}

.divForm{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 4px;
}

.tituloInformaçoesPessoais{
    font-size: 14px;
    color: var(--dark-gray-2);
    margin-bottom: 20px;
}

.h2Informaçoes{
    margin-bottom: 20px;
}

.formInformaçoesPessoais{
    display: flex;
    flex-direction: column;

    label{
        margin-bottom: 5px;
        color: var(--dark-gray-2);
        font-size: 12px;
        font-weight: 700;
    }

    input{
        margin-bottom: 20px;
        background-color: var(--light-gray-2);
        padding: 16px 12px;
        border-radius: 8px;
        border: none;
    }
}