.Colecao {
  padding: 0.5rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.colunasDestaque {
  padding: 1rem;
}

.Colecao h2 {
  color: #333;
  text-align: left;
  font-size: 24px;
  padding-left: 1rem;
}

.Col {
  display: flex;
  justify-content: center;
  /* flex-wrap: ; */
  gap: 1.4rem;
  margin: 0.8rem;
}

.colecaoIcons h2 {
  padding-bottom: 2rem;
  text-align: center;
}

.Col-icon {
  margin-inline: 14px;
  display: flex;
  justify-content: center;
  /* flex-wrap: ; */
  gap: 3rem;
  margin: 0.8rem;
}
/* 
Regras para dispositivos móveis @media (max-width: 768px) {
  .Col {
    flex-direction: column;
    gap: 2rem;
    margin: 5rem;
  }

  .Colecao {
    padding: 1rem 0.5rem;
  }

  .Colecao h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .Col {
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
  }

  .Colecao {
    padding: 0.8rem 0.3rem;
  }

  .Colecao h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
} */
